.App {
  text-align: center;
}

/* MN - Flexbox Stuff */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-section {
  /* Styling */
  padding: 100px;
  min-height: 280px;
  margin: 100px;
  border-radius: 30px;
  padding-top: 30px;
  margin-top: 10px;
  width: 100%;
  padding-bottom: 30px;
  /* Flexbox */

  margin-bottom: 3%;
  position: relative;

}

.welcome {
  padding-bottom: 0px;
}

.workout {
 flex: 1;
}

.recipe {
  flex: 2;
}

