.App {
  text-align: center;
}

/* Header class */
.header {
  text-align: center;
  margin-top: -14em;
}

/* Homepage Image Class */
.image {
  height: 500px;
  margin-top: -200px;
  padding-left: 215px;
  transition: transform 0.5s;
}

.image:hover {
  transform: scale(1.015);
  cursor: pointer;
}
.img1 {
  padding-right: 100px;

}

.img2 {
  flex: 2;

}

/* MN - Flexbox Stuff */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-section {
  /* Styling */
  padding: 100px;
  min-height: 280px;
  margin: 100px;
  border-radius: 30px;
  padding-top: 30px;
  margin-top: 10px;
  width: 100%;
  padding-bottom: 30px;
  /* Flexbox */

  margin-bottom: 3%;
  position: relative;

}

.welcome {
  padding-bottom: 0px;
}

.h2 {
  margin-top: -180px;
}

.twoimages-container {
  margin-top: -100px
}

/* Headings */

.homepage-message {
  text-align: center;
  font-style: italic;
  font-size: large;
}